<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wqz.hcc.dao.StoreInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wqz.hcc.pojo.StoreInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_sign" property="shopSign" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="head_icon" property="headIcon" jdbcType="VARCHAR" />
    <result column="trade_name" property="tradeName" jdbcType="VARCHAR" />
    <result column="boss_id" property="bossId" jdbcType="INTEGER" />
    <result column="hold" property="hold" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shop_sign, lon, lat, head_icon, trade_name, boss_id, hold
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getStore" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store_info
    where lon &gt; #{left,jdbcType=DOUBLE}
      and lon &lt; #{right,jdbcType=DOUBLE}
      and lat &lt; #{top,jdbcType=DOUBLE}
      and lat &gt; #{bottom,jdbcType=DOUBLE}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wqz.hcc.pojo.StoreInfo" >
    insert into store_info (id, shop_sign, lon, 
      lat, head_icon, trade_name, 
      boss_id, hold)
    values (#{id,jdbcType=INTEGER}, #{shopSign,jdbcType=VARCHAR}, #{lon,jdbcType=DOUBLE}, 
      #{lat,jdbcType=DOUBLE}, #{headIcon,jdbcType=VARCHAR}, #{tradeName,jdbcType=VARCHAR}, 
      #{bossId,jdbcType=INTEGER}, #{hold,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wqz.hcc.pojo.StoreInfo" >
    insert into store_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopSign != null" >
        shop_sign,
      </if>
      <if test="lon != null" >
        lon,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="headIcon != null" >
        head_icon,
      </if>
      <if test="tradeName != null" >
        trade_name,
      </if>
      <if test="bossId != null" >
        boss_id,
      </if>
      <if test="hold != null" >
        hold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopSign != null" >
        #{shopSign,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        #{lon,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="headIcon != null" >
        #{headIcon,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="bossId != null" >
        #{bossId,jdbcType=INTEGER},
      </if>
      <if test="hold != null" >
        #{hold,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqz.hcc.pojo.StoreInfo" >
    update store_info
    <set >
      <if test="shopSign != null" >
        shop_sign = #{shopSign,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="headIcon != null" >
        head_icon = #{headIcon,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        trade_name = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="bossId != null" >
        boss_id = #{bossId,jdbcType=INTEGER},
      </if>
      <if test="hold != null" >
        hold = #{hold,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqz.hcc.pojo.StoreInfo" >
    update store_info
    set shop_sign = #{shopSign,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=DOUBLE},
      lat = #{lat,jdbcType=DOUBLE},
      head_icon = #{headIcon,jdbcType=VARCHAR},
      trade_name = #{tradeName,jdbcType=VARCHAR},
      boss_id = #{bossId,jdbcType=INTEGER},
      hold = #{hold,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>